<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="assets/css/main.css" />
  <title>Laura Kinneberg</title>
</head>

<body>
  <div id="app">
    {{ content | safe }}
  </div>
  <script type="module" src="assets/scripts/main.ts"></script>
</body>

</html>