---
layout: layouts/page.njk
---
<article class="layout:[ sm:flex sm:justify-center ] spacing:[ pb-xs pt-s ] typography:[ text-step-0 text-dark ]">
  <!-- extent of article layout -->
  {{ content | safe }}
</article>