---
layout: layouts/base.njk
---
<div class="layout:[ flex flex-col min-h-screen ]">
  {% include "partials/header.njk" %}
  <div class="layout:[ flex-1 flex flex-col sm:flex-row ]">
    <main class="layout:[ flex-1 ] spacing:[ mt-s px-s py-s]">
      <div class="layout:[ flex flex-col ]">
        {% if pageTitle %}
          {% include "partials/page-title.njk" %}
        {% endif %}
        <div class="layout:[ flex-1 ] spacing:[ mt-l ]">
          {{ content | safe }}
        </div>
      </div>
    </main>
    <div class="layout:[ order-first ] spacing:[ p-s ]">
      {% include "partials/nav.njk" %}
    </div>
  </div>
  {% include "partials/footer.njk" %}
</div>