---
layout: layouts/page.njk
---
<div class="flex flex-col">
  <header>
    <h3>{{ project.name }}</h3>
  </header>
  <img src={{ project.thumbnail.url }} alt={{ project.thumbnail.alt }} class="placeholder">
  <p>{{ project.description }}</p>
</div>
