@import url('global/reset.css');
@import url('global/typography.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

.placeholder {
  width: clamp(4rem, 33vw, 200px);
}

* {
  max-inline-size: 60ch;
}

html,
body,
div,
header,
nav,
main,
footer {
  max-inline-size: none;
}