---
layout: layouts/page.njk
pageTitle: Blog
permalink: "/blog/"
---
<ul>
{%- for post in collections.blog -%}
  <li>
    <a href="{{ post.data.page.url }}">{{ post.data.title }}</a>
    <p>{{ post.data.date }}, {{ post.data.page.url }}</p>
  </li>
{%- endfor -%}
</ul>