---
layout: layouts/project.njk
title: "Projects."
pagination:
  data: projects
  size: 1
  alias: project
permalink: "/projects/{{ project.name | slugify }}/"
---
{% for project in projects %}
  <ul>
    <li>
      <h3>
        <a href="{{ project.permalink | url }}">{{ project.name }}</a>
      </h3>
      <p>{{ project.description }}</p>
      <img src="{{ project.thumbnail.url | url }}" alt="{{ project.thumbnail.alt }}" class="placeholder" >
    </li>
  </ul>
{% endfor %}