---
layout: layouts/page.njk
title: Projects
permalink: /projects/
---

<article class="my-16 pe-4 text-xl">
  <p>P.S.--I had already sealed this up when a fresh terror struck upon my soul. It is possible that the post-office may fail me, and this letter not come into your hands until to-morrow morning. In that case, dear Lanyon, do my errand when it shall be most convenient for you in the course of the day; and once more expect my messenger at midnight. It may then already be too late; and if that night passes without event, you will know that you have seen the last of Henry Jekyll.</p>
</article>