---
layout: layouts/page.njk
title: "Projects."
permalink: /projects/
---

{# loop over each post in the projects collection #}
<ul class="flex flex-col gap-xl">
  {% for project in collections.projects %}
    <li>
      <div class="[ flex justify-between items-center ]">
        <a href="{{ project.url }}" class="[ align-middle ]">{{ project.data.title }}</a>
        <img src="/4-3-land.svg" alt="placeholder" class="placeholder" />
      </div>
    </li>
  {% endfor %}
</ul>