---
title: "Example project 3."
---

<header>
  <h3>Example project 3.</h3>
</header>
<section>
  <img src="/4-3-land.svg" alt="placeholder" class="placeholder">
  <p>"Seeing that my client was anxious to leave, I said no more but, calling for my cashier, I ordered him to pay over fifty 1000 pound notes. When I was alone once more, however, with the precious case lying upon the table in front of me, I could not but think with some misgivings of the immense responsibility which it entailed upon me. There could be no doubt that, as it was a national possession, a horrible scandal would ensue if any misfortune should occur to it. I already regretted having ever consented to take charge of it. However, it was too late to alter the matter now, so I locked it up in my private safe and turned once more to my work.</p>

  <p>"When evening came I felt that it would be an imprudence to leave so precious a thing in the office behind me. Bankers' safes had been forced before now, and why should not mine be? If so, how terrible would be the position in which I should find myself! I determined, therefore, that for the next few days I would always carry the case backward and forward with me, so that it might never be really out of my reach. With this intention, I called a cab and drove out to my house at Streatham, carrying the jewel with me. I did not breathe freely until I had taken it upstairs and locked it in the bureau of my dressing-room.</p>
</section>