<footer class="layout:[ flex justify-between ] spacing:[ mt-xl ps-s pe-m pt-s pb-xl ] typography:[ text-light  bg-dark ]">
  <p class="typography:[ text-step--1 ]">copyright 2023</p>
  <p class="layout:[ inline-block ]">Laura Kinneberg</p>
</footer>