<nav class="basis-3/4 text-xl">
  <ul role="list" class="flex flex-wrap gap-2.5 justify-between ps-0">
    <li>
      <a href="/" class="text-black visited:text-black underline-offset-8 hover:decoration-wavy">home</a>
    </li>
    <li>
      <a href="/about/" class="text-black visited:text-black underline-offset-8 hover:decoration-wavy">about</a>
    </li>
    <li>
      <a href="/projects/" class="text-black visited:text-black underline-offset-8 hover:decoration-wavy">projects</a>
    </li>
    <li>
      <a href="/contact/" class="text-black visited:text-black underline-offset-8 hover:decoration-wavy">contact</a>
    </li>
  </ul>
</nav>