<nav class="[ text-step--1 ]">
  <ul role="list" class="flex flex-wrap justify-between gap-m sm:flex-col">
    <li>
      <a href="/" class="[ text-dark visited:text-dark ] [ underline-offset-8 underline hover:decoration-wavy decoration-tertiary ]">home</a>
    </li>
    <li>
      <a href="/about/" class="[ text-dark visited:text-dark ] [ underline-offset-8 underline hover:decoration-wavy decoration-tertiary ]">about</a>
    </li>
    <li>
      <a href="/projects/" class="[ text-dark visited:text-dark ] [ underline-offset-8 underline hover:decoration-wavy decoration-tertiary ]">projects</a>
    </li>
    <li>
      <a href="/contact/" class="[ text-dark visited:text-dark ] [ underline-offset-8 underline hover:decoration-wavy decoration-tertiary ]">contact</a>
    </li>
  </ul>
</nav>